DATABASE_URL=
AUTH_SECRET=
AUTH_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PRESIDENT_PASS=
EBOARD_PASS=

GOOGLE_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SHEETS_SERVICE_ACCOUNT_KEY=
GOOGLE_SHEETS_ID=

CRON_SECRET=
